<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'shop/index.css' %}">
    <title>Your Title Here</title>
    <!-- Add any additional meta tags, links to stylesheets, or other head content here -->
</head>
<body>
    <!-- Your content goes here -->
    <h1>Hello, World!</h1>
    <p>This is a basic HTML boilerplate.</p>
    
    <!-- Add any additional HTML content, scripts, etc. here -->
</body>
</html>
